@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

hr{
  border:none;
  height:1px;
  background:#848484;
}

@keyframes fadeUp{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}